<div class="row formModal">
  <div class="col-lg-6 col-4"></div>

  <div class="col-lg-6 col-8 add-form" id="user" @inOutPaneAnimation>
    <div>
      <a class="close-main pointer" (click)="close()"><img src="assets/icons/close_form.svg" /></a>
      <a class="form-text">Day / Week / Month / Quarter - status</a>
     
    </div>
    <h2 style="color: rgb(18, 84, 87);" class="mx-1">DeviceName: {{show.device_name}}-{{show.device_description}}</h2>

    <div class="d-flex justify-content-between mb-3">
      <div class="box" *ngFor="let item of graphData">
        <div class="setbox">{{item.type}}</div>
        <div class="inbox" [style.background-color]="(item.data.status == 'Raise')? '#2E8B57' : (item.data.status == 'Fall' && (item.data.percentage >= 5))? '#e52d48' :(item.data.status == 'Fall' && (item.data.percentage < 5))? '#FFA500' : '#767676' ">
          <p class="d-flex align-items-center justify-content-between">
            <span>{{item.data.percentage ? item.data.percentage : '00'}}%</span>
            <span *ngIf="item?.data?.status === 'Fall'"><img src="assets/icons/Union 18@2x.png" class="ms-1 mb-1" style="rotate: 270deg;" width="15"></span>
            <span *ngIf="item?.data?.status === 'Raise'"><img src="assets/icons/Union 18@2x.png" class="ms-1 mb-1" style="rotate: 90deg;" width="15"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="charts-container">
      <div>
        <div id="chart1"></div>
      </div>
      <div>
        <div id="chart2"></div>
      </div>
      <div>
        <div id="chart3"></div>
      </div>
      <div>
        <div id="chart4"></div>
      </div>
    </div>
  </div>
</div>
