.main-dashboard {
    max-height: calc(110vh - (185px));
    overflow-y: auto;
}

.head {
    color: #ABABAB;
}

.icons {
    background-image: linear-gradient(to right, #084982 , #D34124);
    position: absolute;
    margin-top: 2px;
    margin-left: -205px;
    padding: 8px;
    border-radius: 2px;
}

.showtray:hover +.icons {
    visibility: visible !important;
}

.head{
    position: relative;
}

.icons:after{
     content: "";
    position: absolute;
    /* transform: rotate(180deg); */
    top: 16px;
    right: -10px;
    margin-top: -1px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(173, 72, 72);
}

/*
.icons a:hover {
    border: 1px solid #274874;
    background-color: #274874;
    border-radius: 5px;
}*/

.verticals {
    color: #084982;
    text-transform: uppercase;
    font-weight: 500 !important;
    align-items: center;
    /* margin-top: 20px; */
}


.card-menu {
   padding: 7px;
   /* min-width: fit-content;
   display: flex; */
   display: flex;
   justify-content: center;
   /* grid-template-columns: repeat(4,1fr); */
}

.card-menu .card .card-body img {
    width: 15px;
    height: 15px;
}

.card {
    /* height: 135px; */
    /* width: 24%; */
    /* margin: 0.5%;  */
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px #0000000D;
}
.card1{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    min-width: 100%;
    box-shadow: 5px 5px 10px #0000000D;
}

.card-header {
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}

.card-header h6 {
    margin: 0;
}

.card-body {
    height: 70px;
}

.table-resp {
    font-size: 13px;
}

.form1 {
    background-image: linear-gradient(to right, #084982, #D34124);
    background-size: cover;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 13px;
}

.form-select {
    width: 200px;
    height: 40px;
    color: #084982;
    background-color: #fff;
}

.input-count {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
}

.form-control {
    width: 125px;
    height: 40px;
    color: #084982;
    background-color: #EFEFEF;
}

/* table {
    border: 1px solid #EFEFEF;
} */

.table-resp {
    height: calc(100vh - 600px);
    overflow-y: auto;
}

tbody tr th {
    /* color:#084982; */
    color: #fff;
    background-color: #EFEFEF;
    /* margin: 10px !important; */
}

.charts div {
    padding: 2px 6px;
}

#chart, #chart1, #chart2, #chart3 {
    /* width: 48%; */
    height: 275px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #0000000D;
    margin-bottom: 10px;
    font-weight: 800;
}

#chart4 {
    /* width: 98%; */
    height: 275px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #0000000D;
    margin-bottom: 10px;
}

.flex-row{
    place-content: space-around;
}

.charts {
    /* margin-top: 30px; */
    padding: 8px;
}

.plus-img {
    background-image: linear-gradient(to right, #084982, #AA4337);
    background-size: cover;
    border-radius: 3px;
    padding: 5px;
    position: relative;
}

.plus-img:after{
    content: "";
    position: absolute;
   /* transform: rotate(180deg); */
    top: 34px;
    transform: rotate(90deg);
    right: 47%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(173, 72, 72);
}

.table > :not(caption) > * > * {
    padding: 10px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.new-icon {
    position: absolute;
    width: -webkit-fill-available;
    top: -27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .highcharts-credits{
    fill: #00000000 !important;
    pointer-events: none;
}


:host ::ng-deep .highcharts-credits{
    fill: #00000000 !important;
    pointer-events: none !important;
}
:host ::ng-deep .highcharts-root{
    font-family: ms,sans-serif !important;
    /* font-weight: 600; */
    /* letter-spacing: 2px; */
}

.card-menu .card .card-body .d-flex :first-child span {
    color: #084982;
}

.card-menu .card .card-header h6 {
    /* margin-left: -5px; */
    margin: 0 -5px;
    font-size: 14px;
}

.dashboard-header {
    border-bottom: 1px solid #e7e7e7;
    margin: 0px -20px;
    padding: 0px 18px;
}

table tbody tr th .badge {
    /* background-color: #fff;
   color: #084982; */
  font-size: 13px;
  color: #fff;
   /* border: 2px solid #fff; */
  padding: 1px 5px;
  margin-left: 0px;
}
td{
    align-items: center;
}
/*
table tbody tr th .badge {
    background-color: #084982;
    color: #fff;
    font-size: 11px;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    border: 1px solid #084982;
    text-align: center;
    padding: 5px 4px;
}
*/

.prevvert {
  width: 55px;
  transform: rotate(180deg);
  cursor: pointer;
}

.nextvert {
  width: 55px;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {

    .card {
        height: 120px;
        box-shadow: 5px 5px 10px #0000000D;
    }

    .card-body {
        height: 70px;
    }

    .card-menu {
        flex: 0 0 auto;
        /* width: 24.7%; */
    }

    #chart, #chart1, #chart2, #chart3 {
        /* width: 47%; */
        height: 275px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #0000000D;
        /* margin: 15px; */
    }

    #chart4 {
        /* width: 96.5%; */
        height: 275px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #0000000D;
        /* margin: 15px; */
    }

    .form-select {
        width: 200px;
        height: 40px;
        color: #084982;
        background-color: #fff;
    }

    .input-count {
        width: 200px;
        height: 40px;
        background-color: #fff;
        border-radius: 5px;
    }

    .form-control {
        width: 125px;
        height: 40px;
        color: #084982;
        background-color: #EFEFEF;
    }

  }

  @media only screen and (max-width: 1024px) {

    .card {
        height: 100px;
        box-shadow: 5px 5px 10px #0000000D;
    }

    .card-body {
        height: 80px;
    }

    .card-menu {
        flex: 0 0 auto;
        /* width: 24.7%; */
    }

    #chart, #chart1, #chart2, #chart3 {
        /* width: 46%; */
        height: 200px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #0000000D;
        /* margin: 15px; */
    }

    #chart4 {
        /* width: 95.5%; */
        height: 200px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #0000000D;
        /* margin: 15px; */
    }

    .form-select {
        width: 200px;
        height: 35px;
        color: #084982;
        background-color: #fff;
    }

    .input-count {
        width: 200px;
        height: 35px;
        background-color: #fff;
        border-radius: 5px;
    }

    .form-control {
        width: 125px;
        height: 35px;
        color: #084982;
        background-color: #EFEFEF;
    }

    .table-resp {
        max-width: 100%;
        overflow-x:scroll;
    }
}

.cgrid{
      display: grid !important;
}
  /* @media only screen and (max-width: 794px) {
    .cgrid{
        grid-template-columns: repeat(2,1fr);
    }
  } */

@media only screen and (max-width: 768px) {
    .head {
        font-size: 19px;
    }

    .verticals h6 {
        font-size: 15px;
    }

    .card .card-header h6 {
        font-size: 12px;
    }

    .card-menu .card .card-body img {
        width: 12px;
        height: 12px;
    }

    .card-menu .card .card-body span {
        font-size: 12px;
    }

    .form-select, .form-control, .span1 {
        font-size: 12px;
    }

    tr>th, td {
      font-size: 12px;
      padding: 5px;
    }

    .plus-img {
        background-image: linear-gradient(to right, #084982, #AA4337);
        background-size: cover;
        border-radius: 3px;
        text-align: center;
        padding: 5px;
        position: relative;
    }

    .plus-img:after{
        content: "";
        position: absolute;
       /* transform: rotate(180deg); */
        top: 39px;
        transform: rotate(90deg);
        right: 50px;
        margin-top: -11px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent rgb(173, 72, 72);
    }

    .prevvert {
      display: none;
    }

    .nextvert {
      display: none;
    }
}
