<div class="row formModal">
    <div class="col-6"></div>
    <div class="col-6 add-form">
        <div class="mt-4">
            <form>
                <img src="assets/icons/close_form.svg" (click)="close()" class="cam-form-close">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field class="w-100" appearance="outline" >
                            <mat-label>Centeral Box Id</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="GISDUS9001">
                          </mat-form-field>
                    </div>
        
            
                    <div class="col-lg-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Router SerialNumber</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Router SerialNumber">
                          </mat-form-field>
                    </div>
        
                    <div class="col-lg-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Router IMSI</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Router IMSI">
                          </mat-form-field>
                    </div>
            
                </div>
        
                <div>
                    <button mat-flat-button color="primary" (click)="sudmit()">Submit</button>
        
                </div>
            </form>
        </div>
    </div>


    </div>
    
    