<div class="row my-2">
    <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Application</mat-label>
            <mat-select>
                <mat-option value="1">1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Department</mat-label>
            <mat-select>
                <mat-option value="1">1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>