<mat-tab-group mat-stretch-tabs>
  <mat-tab label="SCREENS">
    <mat-card class="example-card">
      <div class="mb-2">
        <mat-card-header>
          <mat-card-title>Screen-1</mat-card-title>
          <mat-card-subtitle>Current Ad: #1</mat-card-subtitle>
        </mat-card-header>
        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100%">
      </div>

      <div class="mb-2">
        <mat-card-header>
          <mat-card-title>Screen-1</mat-card-title>
          <mat-card-subtitle>Current Ad: #1</mat-card-subtitle>
        </mat-card-header>
        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100%">
      </div>

      <div>
        <mat-card-header>
          <mat-card-title>Screen-1</mat-card-title>
          <mat-card-subtitle>Current Ad: #1</mat-card-subtitle>
        </mat-card-header>
        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100%">
      </div>
    </mat-card>

  </mat-tab>

  <mat-tab label="PLAYLIST">
    <div class="mb-2 p-2">
      <span>Playlist #1</span>
      <div class="gallery d-flex align-items-center justify-content-between">
        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100px">

        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100px">

        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100px">
      </div>
    </div>

    <div class="p-2">
      <span>Playlist #2</span>
      <div class="gallery d-flex align-items-center justify-content-between">
        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100px">

        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100px">

        <img src="https://www.welcome-hotels.com/site/assets/files/35059/welcome_hotel_marburg_lobby_2k.2560x1600.jpg" width="100px">
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button mat-stroked-button color="primary">Add</button>
    </div>
  </mat-tab>

  <mat-tab label="AD LIST">Content 3</mat-tab>
</mat-tab-group>
