.truncet{
 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dialog-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999;
    width: 30%;
}
.color-box {

  animation: bgColorChange 2s infinite alternate;
}

@keyframes bgColorChange {
  0% {
    background-color: #084982;
  }
  100% {
    background-color: #D34135;
  }
}