<!-- <div class="row formModal">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-10 col-md-10 add-form">

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="mt-3 pointer" (click)="closeAddVertical(false)"><img src="assets/icons/close_form.svg" /></a>
                <span class="form-heading">add new vertical</span>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a><img src="assets/icons/Union 24.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/icons/Union 25.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/icons/Union 26.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/icons/bx-cctv (1).svg" class="mx-2 my-4" /></a>
                <a><img src="assets/icons/Union 27.svg" class="mx-2 my-4" /></a>
                <a><img src="assets/icons/Union 29.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                        <input type="text" class="form-control m-2" placeholder="Add New Business Vertical" />
                    </div>
                    <div class="col-lg-2 col-md-2"></div>

                    <div class="text-center m-4">
                        <button class="btn add-btn">ADD</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div> -->





<!-- <div style="width:50%; float: right; background-color: antiquewhite;">
    <form>
        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>

        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>

        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>

        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>
        <input type="text" placeholder="Enter Name"/>
    </form>
</div> -->









<div class="row formModal" >
    <div class="col-lg-7 col-md-7"></div>
    <div class="col-lg-5 col-md-5 add-form" id="vertical" @inOutPaneAnimation>

        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row justify-content-start">
                <a class="close-main pointer" (click)="closeAddVertical()"><img src="assets/icons/close_form.svg" /></a>
                <h6 class="mt-5" style="margin-left: 20px;">add vertical</h6>
            </div>

            <div class="mx-5 my-4 site-icons">
                <a (click)="openAnotherForm('showAddBusinessVertical')" class="boxshadow"><img src="assets/icons/ver-icon-form.svg" class="mx-2 my-4 changesvgcolor" /></a>
                <a (click)="openAnotherForm('showAddCustomer')"><img src="assets/icons/cust-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddSite')"><img src="assets/icons/site-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddCamera')"><img src="assets/icons/cam-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('analytics')"><img src="assets/icons/analy-icon-form.svg" class="mx-2 my-4" /></a>
                <a (click)="openAnotherForm('showAddUser')"><img src="assets/icons/user-icon-form.svg" class="mx-2 my-4" /></a>
            </div>
        </div>

        <div>
            <form autocomplete="off">
                <div class="row">

                    <div class="col-lg-2 col-md-2" style="opacity: 0; pointer-events:none;">
                        <input type="text" class="form-control m-2" placeholder="" disabled />
                    </div>



                    <div class="col-lg-8 col-md-8 ">
                        <input type="text" class="form-control m-2" placeholder="Add New Business Vertical" />
                    </div>



                    <div class="col-lg-2 col-md-2" style="opacity: 0; pointer-events:none;">
                        <input type="text" class="form-control m-2" placeholder="" disabled />
                    </div>

                    <!-- invisible line 2 -->
                    <div class="col-lg-4 col-md-4" style="opacity: 0; pointer-events:none; height: 1px;">
                        <input type="text" class="form-control m-2" placeholder="" disabled />
                    </div>
                    <div class="col-lg-4 col-md-4" style="opacity: 0; pointer-events:none; height: 1px;">
                        <input type="text" class="form-control m-2" placeholder="" disabled />
                    </div>

                    <div class="text-center m-5">
                        <button class="btn add-btn">ADD</button>
                    </div>




                </div>
            </form>
        </div>

    </div>
</div>
