#chart {
  height: 275px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #0000000D;
  margin-bottom: 10px;
}

:host ::ng-deep .highcharts-credits{
  fill: #00000000 !important;
  pointer-events: none;
}


:host ::ng-deep .highcharts-credits{
  fill: #00000000 !important;
  pointer-events: none !important;
}
:host ::ng-deep .highcharts-root{
  font-family: ms,sans-serif !important;
}
  
  .container {
    /* border: 2px solid #dedede; */
    background-color: #f1f1f1;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 5px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    /* width: 100%; */
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  