<div class="container-fluid" id="top">
  <!-- header -->
  <div class="d-flex align-items-center justify-content-between">
    <div class="users-header">
      <p>List of Advertisements - <span>{{ newAdvertisements?.length }}</span></p>
    </div>

    <div>
      <!-- <button mat-flat-button color="primary" (click)="showAddAsset(siteIdInput.value, deviceIdInput.value)">Create Add</button> -->
      <button class="create-btn" (click)="showAddAsset('asset')">Create Add</button>
    </div>
  </div>

  <!-- status -->
  <div class="row mb-2">
    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
      <div class="vl-yellow"></div>
      <div class="mx-2">
        <div class="status">Pending</div>
        <div class="count">{{ pending?.length }}</div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
      <div class="vl-green"></div>
      <div class="mx-2">
        <div class="status">Added</div>
        <div class="count">{{ added?.length }}</div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
      <div class="vl-blue"></div>
      <div class="mx-2">
        <div class="status">Activated</div>
        <div class="count">{{ sycedAfterAddition?.length }}</div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
      <div class="vl-orange"></div>
      <div class="mx-2">
        <div class="status">Deactivated</div>
        <div class="count">{{ sycedAfterRemoval?.length }}</div>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 d-flex justify-content-start">
      <div class="vl-red"></div>
      <div class="mx-2">
        <div class="status">Removed</div>
        <div class="count">{{ removed?.length }}</div>
      </div>
    </div>
  </div>

  <div>
    <!-- <div class="col-lg-12"> -->
      <app-filter [filterType]="'advertisements'" (tableDataFromChild)="getAdsFromChild($event)"
        (searchFromChild)="getSearchFromChild($event)" (loaderFromChild)="getLoaderFromChild($event)">
      </app-filter>
    <!-- </div> -->
  </div>


  <!-- table -->
  <div class="table-resp extra w-100">
    <table class="table table-hover" id="mytable">
      <thead>
        <tr class="form1">
          <!-- <th>
            <span>Id</span>
            <img (click)="sort('id')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th> -->

          <th>
            <span>Name</span>
            <img (click)="sort('name')" class="pointer ms-1" src="assets/icons/sorticon.svg" matTooltip="filter"
              matTooltipPosition="right" width="15px">
          </th>

          <th>
            <span>Device mode</span>
            <img (click)="sort('deviceModeId')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>

          <th>
            <span>Duration</span>
            <img (click)="sort('duration')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>

          <th>
            <span>Start date</span>
            <img (click)="sort('fromDate')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>

          <th>
            <span>End date</span>
            <img (click)="sort('toDate')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>

          <th>
            <span>Status</span>
            <img (click)="sort('status')" class="pointer ms-1" src="assets/icons/sorticon.svg" width="15px">
          </th>

          <th class="text-center">Play</th>

          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody *ngIf="!tableLoader">
        <tr *ngFor="let item of newAdvertisements | search: searchText; let i=index;">
          <!-- <td>
            <input type="checkbox"
            class="form-check-input"
            [(ngModel)]="item.selected"
            (change)="checkIfAllSelected();
            deleteMultiRecords(item, $event);
            ViewByCheckbox(item, $event);
            EditByCheckbox(item, $event)"
            id="singleCheck">
          </td> -->

          <!-- <td>
            <p>{{ item.id }}</p>
          </td> -->

          <td style="width: 200px;">
            <p>{{ item.name.slice(0, -4) }}</p>
          </td>

          <!-- <td>
            <p>{{ item.deviceId ? item.deviceId : '--' }}</p>
          </td> -->

          <td>
            <p *ngIf="item.deviceModeId == 1">Continuous</p>
            <p *ngIf="item.deviceModeId == 2">Weather Based</p>
            <p *ngIf="item.deviceModeId == 3">AI Based</p>
            <!-- <p>{{item.deviceModeId}}</p> -->
          </td>

          <td>
            <p>{{item.duration + 's'}}</p>
          </td>

          <td>
            <p>{{item.fromDate | date:'mediumDate' }}</p>
          </td>

          <td>
            <p>{{ item.toDate | date:'mediumDate' }}</p>
          </td>

          <td>
            <p>
              <span class="d-flex">
                <span style="width: 40px;" [style.color]="(item.status == 2 || item.status == 4) ? 'green' : (item.status == 3 || item.status == 5) ? 'red' : ''">
                  {{ (item.status == 2 || item.status == 4 )? "Active" : (item.status == 3 || item.status == 5) ? "Inactive" : 'Pending' }}
                </span>
                <a (click)="openEditStatus(item)" class="ms-2 pointer" *ngIf="item?.status !== 1">
                  <img src="assets/icons/edit.svg"  width="13">
                </a>
              </span>
              <!-- <select class="form-control custom-form-control" [(ngModel)]="item.status">
                <option *ngFor="let status of addStatus" [value]="status.keyId">{{status.value}}</option>
              </select> -->

              <!-- <span class="d-flex">
                <span style="width: 60px;" [style.color]="item.status == 1 ? 'blue' : (item.status == 2 || item.status == 3) ? 'violet' : item.status == 4 ? 'green' : 'orange'">
                  {{ item.status == 1 ? "Pending": item.status == 2 ? "In progress" : item.status == 3 ? 'In progress' : item.status == 4 ? "Activated" : item.status == 5 ? "Deactivated" : ''}}
                </span>

                <a (click)="openEditStatus(item.id)" class="ms-2 pointer">
                  <img src="assets/icons/edit.svg"  width="13">
                </a>
              </span> -->

              <ng-template #editStatusDialog>
                <div style="background-color: #084982;">
                  <p class="dialog-title">modify status</p>
                </div>
                <div class="dialog-content">
                  <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Edit Status</mat-label>
                    <mat-select [(ngModel)]="statusObj.status">
                      <mat-option [value]="2">Activate</mat-option>
                      <mat-option [value]="3">De-Activate</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <div *ngIf="currentItem?.status === 2 || currentItem?.status === 4">Do you want to inactive this Add?</div>
                  <div *ngIf="currentItem?.status === 3 || currentItem?.status === 5">Do you want to re-activate this Add?</div>

                </div>

                <div class="d-flex align-items-center justify-content-end">
                  <div>
                    <button class="dialog-close-btn" mat-dialog-close>
                      Close
                    </button>
                  </div>
                  <div>
                    <button class="dialog-submit-btn" mat-dialog-close (click)="changeAssetStatus()">
                      Submit
                    </button>
                  </div>
                </div>
              </ng-template>
            </p>
          </td>

          <!-- <td>
            <button style="background: transparent; border: none;" (click)="showAddAsset()">
              <img src="assets/icons/add.svg" alt="" width="30" height="30">
            </button>
          </td> -->

          <!-- <td class="text-center">
            <a class="pointer" (click)="openDialog()">
              <img style="color: #bdb8b8;" src="assets/icons/live_tv.svg" width="20" height="20" />
            </a>
          </td> -->

          <td class="text-center">
            <!-- <a class="pointer" [href]="item.url" target="_blank">
              <img style="color: #bdb8b8;" src="assets/icons/play.svg" width="25" height="25" />
            </a> -->
            <a class="pointer" (click)="openPlayerDialog(item)">
              <img style="color: #bdb8b8;" src="assets/icons/play.svg" width="25" height="25" />
            </a>
          </td>

          <td class="table-icons">
            <!-- <a class="mx-1 pointer" (click)="openViewPopup(item)">
              <img src="assets/icons/view.svg">
            </a> -->
            <a class="mx-1 pointer" (click)="openEditPopupp(item)" matTooltip="edit">
              <img src="assets/icons/edit.svg">
            </a>
            <a class="mx-1 pointer" value="Delete" (click)="openDeletePopup(item)" matTooltip="delete">
              <img src="assets/icons/delete.svg">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- error info -->
    <div class="d-flex align-items-center justify-content-center" style="height: 45vh;"
      *ngIf="newAdvertisements.length == 0 && !tableLoader">
      <h1 class="text-secondary">No Advertisements</h1>
    </div>

    <!-- loader -->
    <div *ngIf="tableLoader">
      <app-loader class="d-flex justify-content-center align-items-center" style="height: 45vh;"></app-loader>
    </div>
  </div>
</div>


<ng-template #editAssetDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">MODIFY Ad - {{ currentItem?.deviceId }} ({{ currentItem?.mimeType.slice(0, -4) }})</p>
  </div>

  <div class="dialog-content">
    <div class="row m-0">
      <!-- <div class="col-lg-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Advertisement Id</mat-label>
        <input matInput [(ngModel)]="currentItem.id" disabled>
      </mat-form-field>
    </div> -->

      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Device mode</mat-label>
          <mat-select name="deviceMode" [(ngModel)]="currentItem.deviceModeId"
            (selectionChange)="onSelectChange($event)" disabled>
            <mat-option *ngFor="let item of deviceMode" [value]="item.keyId">{{item.remarks}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6 from-date">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>From date</mat-label>
          <input name="fromDate" matInput [matDatepicker]="picker1" [(ngModel)]="currentItem.fromDate"
            (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-lg-6 from-date">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>To date</mat-label>
          <input name="toDate" matInput [matDatepicker]="picker2" [(ngModel)]="currentItem.toDate"
            (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Play order</mat-label>
          <input name="playOrder" matInput [(ngModel)]="currentItem.playOrder" (change)="onInputChange($event)">
        </mat-form-field>
      </div> -->

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select name="status" [(ngModel)]="currentItem.status" (selectionChange)="onSelectChange($event)">
            <mat-option *ngFor="let item of addStatus" [value]="item.keyId" [hidden]="item.keyId !== 2 && item.keyId !== 3">
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-end">
    <div>
      <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
    <div>
      <button class="dialog-submit-btn" mat-dialog-close (click)="confirmEditRow()">Update</button>
    </div>
  </div>
</ng-template>

<ng-template #addPlayerDialog>
  <div style="background-color: #084982;">
    <p class="dialog-title">ADD FILE</p>
  </div>
  <div class="dialog-content">
    <video [src]="currentItem?.url" width="500px" height="300px" autoplay controls></video>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <div>
      <button class="dialog-close-btn" mat-dialog-close>Close</button>
    </div>
  </div>
</ng-template>


<div *ngIf="showAsset">
  <app-add-new-asset (newItemEvent)="closenow('asset'); listAssets()"></app-add-new-asset>
</div>
