<div class="row formModal">
  <div class="col-lg-6 col-4"></div>
  <div class="col-lg-6 col-8 add-form" id="camera" @inOutPaneAnimation>

    <!-- <div class="d-flex flex-row justify-content-between"> -->
      <div class="d-flex">
        <a class="close-main pointer" (click)="closeAddCamera()"><img src="assets/icons/close_form.svg" /></a>
        <span class="form-heading">add data</span>
      </div>
    <!-- </div> -->

    <!-- Form -->
    <div>
      <form autocomplete="off" [formGroup]="metadataForm">
        <div class="row">
          <!-- <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Type</mat-label>
              <mat-select>
                <mat-option *ngFor="let item of type" [value]="item.type">{{item.type}}</mat-option>
              </mat-select>
              <mat-error >Service Name is required</mat-error>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Type" [matAutocomplete]="site" (keyup)="siteSer($event)" [(ngModel)]="ng" formControlName="ng">
              <mat-autocomplete #site="matAutocomplete">
                <mat-option (click)="openNew('')" value="Create New">Create New</mat-option>
                <mat-option *ngFor="let item of type | search: sit" [value]="item.type" (click)="openNew(item.type)">
                  {{ item.type }}
                </mat-option>
              </mat-autocomplete>
              <mat-error >Type is required</mat-error>
            </mat-form-field>
          </div> -->
          <!-- <div class="col-lg-6 col-md-6" *ngIf="metaType == 'Create_New'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Type</mat-label>
              <mat-select formControlName="metadataTypeId" [(ngModel)]="metaDataBody.metadataTypeId">
                <mat-option *ngFor="let item of metadataTypes" [value]="item.type">{{item.typeName}}</mat-option>
              </mat-select>
              <mat-error >Type is required</mat-error>
            </mat-form-field>
          </div> -->

          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Type</mat-label>
              <mat-select formControlName="metadataTypeId" [(ngModel)]="metaDataBody.metadataTypesId">
                <mat-option *ngFor="let item of metadataTypes" [value]="item?.id">{{item?.type}}</mat-option>
              </mat-select>
              <mat-error >metadataTypeId is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Value</mat-label>
              <input matInput formControlName="value" [(ngModel)]="metaDataBody.value" #todo>
              <mat-error >Value is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Code</mat-label>
              <input matInput formControlName="code" [(ngModel)]="metaDataBody.code">
              <mat-error >code is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remarks</mat-label>
              <input matInput formControlName="remarks" [(ngModel)]="metaDataBody.remarks">
              <mat-error >remarks is required</mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-lg-1 col-md-1">
            <a (click)="addtoList()" style="text-decoration: none;">
              <span class="addListBtn">ADD</span>
            </a>
          </div> -->
          <!-- <div *ngIf="newList">
            <div *ngFor="let item of newList; let i=index" class="d-flex flex-column mb-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="mb-3">
                  <p class="device-title m-0">{{todo.value}}</p>
                  <p class="device-sub m-0">{{item.remarks}}</p>
                </div>
                <div>
                  <a class="pointer ms-2">
                    <img src="assets/icons/delete.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div> -->
          <div class="text-center my-3">
            <button class="btn add-btn" (click)="addMetadata()">ADD</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
