<app-loader *ngIf="showLoader"></app-loader>
<div class="container-fluid sites" id="top">

    <!-- header -->
    <div class="d-flex justify-content-between my-2">
        <div class="users-header">

            <!-- count -->
            <div class="row">
                <div class="col-lg-3 d-flex justify-content-start">
                    <div class="vl-blue"></div>
                    <div class="mx-2">
                        <div class="status">Total Customers</div>
                        <div class="count">{{getAccountDataRes.length}}</div>
                    </div>
                </div>
                <div class="col-lg-2 d-flex justify-content-start">
                    <div class="vl-green"></div>
                    <div class="mx-2">
                        <div class="status">Active</div>
                        <div class="count">{{getAccountDataRes.length}}</div>
                    </div>
                </div>
                <div class="col-lg-2 d-flex justify-content-start">
                    <div class="vl-red"></div>
                    <div class="mx-2">
                        <div class="status">Inactive</div>
                        <div class="count">0</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="create-btn" (click)="show('cust')">Create Account</button>
        </div>
    </div>

    <!-- form starts -->
    <div class="search-form">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <mat-form-field class="example-form-field" appearance="outline" class="w-100">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="searchText">
                <button matSuffix mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>


    <app-table [fields]="fields" [data]="getAccountDataRes" [search]="searchText"></app-table>
</div>


<div style="position: fixed; top:0;" *ngIf="showAddCustomer">
    <app-add-new-customer [show]="showAddCustomer" (newItemEvent)="closenow($event, 'cust')"></app-add-new-customer>
</div>


<ng-template #editprofileDialog>
  <div style="background-color: #084982;">
    <p class="text-white p-1">MODIFY - {{ currentItem?.accountId  }}</p>
  </div>

  <div class="dialog-content" *ngIf="currentItem">
    <div class="row m-0">
  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.firstName" name="firstName" #firstNameInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.lastName" name="lastName" #lastNameInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Phone No</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.phoneNo" name="phoneNo" #phoneInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="currentItem.email" name="email" #emailInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Contact Person</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.contactPerson" name="contactPerson" #contactPersonInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Lead No</mat-label>
      <input matInput type="number" [(ngModel)]="currentItem.leadNo" name="leadNo" #leadNoInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Website</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.website" name="website" #websiteInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Fax</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.fax" name="fax" #faxInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Status</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.status" name="status" #statusInput>
    </mat-form-field>
  </div>

  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Remarks</mat-label>
      <input matInput type="text" [(ngModel)]="currentItem.remarks" name="remarks" #remarksInput>
    </mat-form-field>
  </div>
  
</div>

  <div class="d-flex align-items-center justify-content-end mt-2">
    <button class="dialog-close-btn" mat-dialog-close >Close</button>
    <button class="dialog-submit-btn" mat-dialog-close (click)="updateAccount()">Update</button>
  </div>


  </div>
</ng-template>